@component('mail::message')

Ini adalah password anda {{ $password }}

@component('mail::button', ['url' => 'https://google.com'])
Login disini
@endcomponent

Thanks,<br>
Bunda Cerdas Wanita Islam
@endcomponent